service: express-lambda-app

frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs20.x
  region: ${env:AWS_REGION, 'ap-south-1'}
  stage: ${opt:stage, 'dev'}
  
  stackTags:
    Environment: ${self:provider.stage}
    Project: express-lambda-app
    ManagedBy: serverless
  
  environment:
    JWT_SECRET: ${env:JWT_SECRET}
    NODE_ENV: ${self:provider.stage}

functions:
  app:
    handler: lambda.handler
    events:
      - http:
          path: /{proxy+}
          method: ANY
          cors: true
      - http:
          path: /
          method: ANY
          cors: true

plugins:
  - serverless-offline

custom:
  serverless-offline:
    httpPort: 3000